<?xml version="1.0"?>

<launch>
  <!-- Loading the live mapper params from the yaml file -->
  <rosparam command="load" file="$(find nav_3d)/param/nav_3d.yaml"/>

  <!-- Run the live mapper node -->
  <node
    name  = "live_mapper"
    pkg   = "nav_3d"
    type  = "live_mapper"
    args  = ""
    output= "screen"
  >
  </node>
    
  <!-- Loading the robot state params from the yaml file 
  <rosparam command="load" file="$(find nav_3d)/param/robot_state.yaml"/> -->

  <!-- Launching rviz with the nav_3d config file -->
  <node
    type ="rviz"
    name ="rviz"
    pkg  ="rviz"
    args ="-d $(find nav_3d)/rviz/nav_3d.rviz"
  >
  </node>

  <!-- Run the robot state node.  NOTE the parameter settings can be adjusted at the top of the 
       source code in robot_state.py rather that in a yaml file as with cpp files.  -->
  <node 
    name="robot_state"
    pkg="nav_3d"
    type="robot_state.py"
    args  = ""
    output="screen"
  >
  </node>
 
</launch>
